#cal {
  height: 300px;
  overflow-y: auto;
  background-color: #eee;
}

#cal a {
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
  border: solid rgb(173, 163, 163);
}